nav {
    font-size: 24px;
    background-color: #f5f5dc;
}


nav ul li {
    display:inline-block;
    margin-right: 15px;
    font-family: Arial, Helvetica, sans-serif; 
}

li a {
    text-decoration: none;
}

li a:visited {
    color: rgb(68, 231, 50);
}

li a:hover {

    color: blueviolet;
}

h1 {
    text-align: center;
    background-color: blanchedalmond;
}

ol li {
    display:list-item;
}

.img {
    display:block;
    margin:auto;
}

.form {
    display: block;
    border: 5px solid rgb(77, 63, 63);
    background-color: rgb(180, 166, 195);
    border-radius: 30px;
}

#submit {
    display: block;
    border-radius: 20px;
    margin: auto;
    background-color: rgb(235, 169, 169);
    
}

#submit:hover {
    background-color: rgb(136, 222, 237);
}

footer {
    border-top: 5px solid rgb(242, 159, 159);
    text-align: center;
}

header {
    border-bottom: 5px solid rgb(120, 100, 139);
    background-color: #f5f5dc;
}